
<div class="container-main">
<section id="intro">
  <div id="nome-foto">
  <img id="myphoto" src="../../../assets/img/joice_desenho.png" alt="joao" />
  <p id="name">Joice Fogaça</p>
  <p id="title">Front-end Angular
    <i class="fa-brands fa-angular" style="color: #FF2C2C;"></i>
  </p>
  </div>
</section>

<section class="container-artigos">
  <h4 >Artigos no Médium</h4>
  <div class="artigos">
  <ng-container *ngFor="let article of articles$ | async">
    <app-article  [article]="article" />
  </ng-container>
  </div>
</section>
</div>
