
<div class="container-main">
<section id="intro">
  <div id="nome-foto">
  <img id="myphoto" src="../../../assets/img/joice_desenho.png" alt="joao" />
  <p id="name">Joice Fogaça</p>
  <p id="title">Front-end Angular
    <i class="fa-brands fa-angular" style="color: #FF2C2C;"></i>
  </p>
  </div>
  <div id="introduce">
    <p>Sou Desenvolvedora Front-end com foco em Angular, atuando no desenvolvimento e sustentação de aplicações web complexas, especialmente em ambientes corporativos e sistemas de grande escala.</p>
  </div>
</section>
<section class="artigos">
  <ng-container *ngFor="let article of articles$ | async">
    <app-article  [article]="article" />
  </ng-container>
</section>
</div>
