
<section id="intro">
  <img id="myphoto" src="../../../assets/img/joice_desenho.png" alt="joao" />
  <p id="name">Joice Fogaça</p>
  <p id="title">Front-end Angular</p>
  <div id="introduce">{{ description }}</div>
  <div class="social-midia">
    <a href="https://www.linkedin.com/in/joifogaca" target="_blank">
      <img src="../../../assets/img/linkedin.png" alt="github" />
    </a>
    <a href="https://github.com/joifogaca" target="_blank">
      <img src="../../../assets/img/github.png" alt="linkedin" />
      </a>
  </div>
</section>

