<div class="layout">
<nav id="nav-menu">
  <ul class="menu">
      <li><a id="about" routerLink="/about">Sobre</a></li>
      <li><a id="projects" routerLink="/projects">Projetos</a></li>
  </ul>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
 <div class="social-midia">
    <a href="https://github.com/joifogaca" target="_blank" class="icon-link">
    <i class="fa-brands fa-github" ></i>
    </a>
    <a href="https://www.linkedin.com/in/joifogaca" target="_blank" class="icon-link">
      <i class="fa-brands fa-linkedin"></i>
    </a>
  </div>
</div>
