
main {
 padding: 2rem;
 width: 100%;
}

.menu {
  display: flex;
  list-style-type: none;
  margin: 1rem;
  justify-content: flex-end;

  li {
    margin: 0;

    a {
      display: block;
      text-align: center;
      font-weight: 400;
      font-size: 1.1rem;
      padding: 20px 10px;
      text-decoration: none;
      color: #181818;
    }
  }
}
