.tag {
  padding: 4px 8px;
  border: 1px solid #615EFC;
  border-radius: 48px;
  background-color: #EDF0FF;
  font-size: 12px;
  margin-right: 8px;
  display: block;
  margin: 0 8px 8px 0 ;
  color: #615EFC;
}
