
.img-container {
width: 50%;
}

i {
  font-size: 20px;
}

.header {
  flex-grow: 1;
  height: 30%;
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
justify-content: center;
align-items: center;
}

.tags-container {
display: flex;
flex-wrap: wrap;
justify-content: start;
align-items: center;
padding: 0.5rem 0;
width: 100%;
min-height: 48px;

}

.buttons-container {
  display: flex;
  justify-content: end;
  padding: 0.5rem 0 0 0;
}






