<div id="featuted-project">
  <div class="header">
    <div class="img-container">
      <img [ngSrc]="featuredProject.url_image" width="280" height="180" alt="imagem do projeto" priority>
    </div>

    <div class="tags-container">
      <app-tag *ngFor="let tag of featuredProject.tags" [tag]="tag" />
    </div>
  </div>
  <h3>{{ featuredProject.name }}</h3>
  <p>{{ featuredProject.description }}</p>
  <div class="buttons-container">
    <a class="btn btn-primary" [href]="featuredProject.link_page">Projeto Online</a>
    <a class="btn btn-secondary" [href]="featuredProject.link_github">Github</a>
  </div>
</div>
