/* You can add global styles to this file, and also import other style files */
/* CS Reset */

@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #EDF0FF;
  font-family: "Manrope", sans-serif;
  color: #000;
}


h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  padding-bottom: 24px;
}

p {
  color: #5D5D5D;
}
