/* You can add global styles to this file, and also import other style files */
/* CS Reset */

@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$bg-body: #EDF0FF;
$font-color: #5D5D5D;
$font-family: 'Poppins', sans-serif;

html, body {
height: 100%;
margin: 0;
}

html {

   width: 100%;

  body {
    max-width: 95vw;
    height: 99vh;
    margin: 1rem auto;
    background-color: $bg-body;
    font-family: $font-family;
    color: $font-color;
     overflow: hidden;
  }

  h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 120%;

  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    font-style: normal;

  }
  p {
    color: #5D5D5D;
    font-weight: 300;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 600;
  }

}

.btn {
  padding: 0.5rem 1rem;
  display: block;
  border-radius:  48px;
  margin-right: 0.8rem;
  text-decoration: none;
  text-align: center;
}

.btn-secondary {
  border: 2px solid #615EFC;
  color: #615EFC;

  &:hover {
    color:  #ab99e4;
  }
}

.btn-primary {
background: #615EFC;
color: white;

&:hover {
  background: #ab99e4;
  color: white;
}

}
