/* You can add global styles to this file, and also import other style files */
/* CS Reset */

@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

$bg-body: #EDF0FF;
$font-color: #5D5D5D;
$font-family: 'Manrope', sans-serif;

html {
  height: 100%;
  width: 100%;

  body {
    width: 90%;
    margin: 0;
    background-color: $bg-body;
    font-family: $font-family;
    color: $font-color;
  }

  h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 120%;
    padding-bottom: 20.5rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 1rem;
  }
  p {
    color: #5D5D5D;
    font-weight: 300;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
  }

}

.btn {
  padding: 0.5rem 1rem;
  display: block;
  border-radius:  48px;
  margin-right: 0.8rem;
  text-decoration: none;
  text-align: center;
}

.btn-secondary {
  border: 2px solid #615EFC;
  color: #615EFC;

  &:hover {
    color:  #ab99e4;
  }
}

.btn-primary {
background: #615EFC;
color: white;

&:hover {
  background: #ab99e4;
  color: white;
}

}
