.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

h3 {
  font-size:  1.2rem;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 10px;
  }


 p {
flex-grow: 1;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 21px */
}

a {
  margin-top: 1rem;
 align-self: flex-end;
}




